<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Demo application</title>
    </head>
    <body>
        <ul>
            <li><a href="{{ path('dashboard') }}">Home</a></li>
            <li><a href="{{ path('user') }}">Profile page</a></li>
            <li><a href="{{ path('editor') }}">Editor page</a></li>
            <li><a href="{{ path('administrator') }}">Administrator page</a></li>
        </ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href={{path('app_logout')}}><button>Log out</button></a>
        {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>
